.principal {
  height: 150vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: #f4f8ff;

  padding: 20px;
}

.principal h1 {
  font-size: 50px;
  color: #0b3d91;
}

.principal p {
  font-size: 20px;
  max-width: 500px;
}

@media (max-width: 768px) {

  .principal h1 {
    font-size: 35px;
  }

  .principal p {
    font-size: 18px;
  }
}