.loginContainer {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #eaf3ff, #dbe9ff);

  padding-top: 80px;
}

.loginCard {
  width: 100%;
  max-width: 420px;

  background: white;

  padding: 30px;

  border-radius: 15px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

  text-align: center;
}

.loginCard h1 {
  margin-bottom: 10px;

  color: #0b3d91;

  font-size: 40px;
}

.loginCard p {
  margin-bottom: 20px;

  font-size: 13px;

  color: #666;
}

.loginCard form {
  display: flex;

  flex-direction: column;

  gap: 14px;
}

.loginCard .inputGroup {
  display: flex;

  align-items: center;

  border: 1px solid #ccc;

  border-radius: 8px;

  padding: 10px;

  gap: 8px;

  background: white;
}

.loginCard .inputGroup svg {
  color: #0b3d91;

  font-size: 18px;

  min-width: 20px;
}

.loginCard .inputGroup input {
  border: none;

  outline: none;

  flex: 1;

  font-size: 14px;

  background-color: white;

  color: #333;
}

.loginCard .iconoPassword {
  color: #0b3d91;

  cursor: pointer;

  font-size: 18px;
}

.loginCard button {
  padding: 12px;

  background: #0b3d91;

  color: white;

  border: none;

  border-radius: 8px;

  cursor: pointer;

  font-size: 15px;
}

.loginCard button:hover {
  background: #062a66;
}

.toastExito {
  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background: #198754;
  color: white;

  padding: 18px 30px;

  border-radius: 12px;

  font-size: 16px;
  font-weight: bold;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

  z-index: 9999;

  animation: aparecer 0.3s ease;
}

.toastError {
  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background: #c62828;
  color: white;

  padding: 18px 30px;

  border-radius: 12px;

  font-size: 16px;
  font-weight: bold;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

  z-index: 9999;

  animation: aparecer 0.3s ease;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.registroLink {
  margin-top: 20px;

  margin-bottom: 0 !important;

  font-size: 14px !important;

  color: #555;
}

.registroLink a {
  color: #0b3d91;

  font-weight: bold;

  text-decoration: none;

  margin-left: 5px;
}

.registroLink a:hover {
  text-decoration: underline;
}